* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #131B20;
    --main-el-color: #89969F;
    --main-green: #009E7A;
    --light-gray: #1d272d;
}

body {
    background-color: var(--main-bg-color);
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 60px auto auto;
}

.container-flex {
    display: flex;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1.3fr 3fr;
}

/* SIDE NAV */
.nav {
    display: flex;
    flex-direction: column;
}

.nav-settings {
    padding: 1em 2em;
    justify-content: space-between;
    background-color: var(--light-gray);
    height: 10vh;
}

.nav-settings i {
    padding: .5em;
    color: var(--main-el-color);
    font-size: 1.5em;
}

.nav-settings i:hover {
    background-color: var(--main-el-color);
    border-radius: 100%;
    cursor: pointer;
    color: var(--main-bg-color);
}

.nav-fixed {
    border-bottom: 1px solid var(--main-el-color);
    position: sticky;
    top: 0;
    width: 100%;
}

/* INPUT */
.submit-lente {
    padding: 1em 2em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
}

.submit-line {
    grid-area: submit-line;
    padding: 1em 2em;
    position: relative;
    max-width: 100%;
    background-color: var(--main-bg-color);
    height: 8vh;
}

.submit-line i {
    color: var(--main-green);
    font-size: 1.5em;
    margin-top: .25em;
}

.submit-line input {
    width: 100%;
    border: none;
    padding: .5em;
    background-color: var(--light-gray);
}

/* INPUT WITH MAGNIFYING GLASS */

/* CONTACT LIST */
.contact-list {

    overflow: auto;
    height: 82vh;
    padding-right: 1em;
}

.contact-card {
    padding: 1em;
    gap: 1em;
    border-bottom: 1px solid var(--main-el-color);
    max-width: 100%;
}

.message-time {
    justify-self: end;
}

.message-notreaded {
    background-color: var(--main-green);
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
}

.contact-card:hover {
    background-color: var(--light-gray);
}

.contact-card__img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.contact-card p:not(.message-notreaded) {
    color: var(--main-el-color);
}

/* CONTACT LIST */
/* scroll */
.contact-list::-webkit-scrollbar {
    width: 10px;
}

.contact-list::-webkit-scrollbar-track {
    background: rgba(71, 71, 71, 0.409);
}

.contact-list::-webkit-scrollbar-thumb {
    background-color: var(--main-green);
    border-radius: 20px;
    padding: 0 10px;
}

/* scroll */
/* SIDE NAV */



/* chat box */
.chat {
    display: flex;
    flex-direction: column;
}

.chat-input {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--light-gray);
    padding: 1em;
    display: flex;
    gap: .5em;
    align-items: center;
}

.chat-input i {
    font-size: 1.3em;
    padding: .5em;
}

.chat-input i:hover {
    background-color: var(--main-el-color);
    border-radius: 100%;
    cursor: pointer;
    color: var(--main-bg-color);
}

.chat-input input {
    flex-grow: 1;
    padding: .5em;
    background-color: var(--main-el-color);
    border: none;
    border-radius: 10px;
}

.tete {
    display: none;
    color: var(--main-green);
    font-size: 1.5em;
}

.chat-input input:focus ~ .hide {
    display: none;
}

.chat-input input:focus~.tete {
    display: inline;
}

.chat-box {
    flex-grow: 1;
    background-image: url(https://i.pinimg.com/736x/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg);
    max-height: 82vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.chat-box img {
    max-width: 100%;
}

.me,
.other {
    max-width: 40%;
    padding: .5em;
    border-radius: 15px;

    margin-bottom: 10px;
}

.me {
    background-color: var(--main-green);
    align-self: flex-end;
}

.other {
    background-color: var(--light-gray);
    align-self: flex-start;
}


/* scroll */
.chat-box::-webkit-scrollbar {
    width: 10px;
}

.chat-box::-webkit-scrollbar-track {
    background: rgba(71, 71, 71, 0.409);
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: var(--main-el-color);
    border-radius: 20px;
    padding: 0 10px;
}

/* scroll */